* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #F4F5F7;
}

.container {
  width: 1600px;
  margin: 0 auto;
}
.container .inner-container {
  width: 1440px;
  margin: 50px auto 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

/***** the values for the media queries are found in the variables partial *****/
/***** 01 - mixins and functions *****/
.drop-down-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid #EAECF0;
  width: 240px;
  border-radius: 0.5rem;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}
.drop-down-menu header {
  padding: 12px 16px;
  display: flex;
  border-bottom: 1px solid #EAECF0;
}
.drop-down-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #EAECF0;
  padding: 10px 0;
}
.drop-down-menu ul.last {
  border-bottom: 0 solid transparent;
}
.drop-down-menu ul li {
  display: flex;
  padding: 9px 20px;
}
.drop-down-menu ul a {
  text-decoration: none;
  color: #314056;
  text-transform: capitalize;
  font-size: 0.875rem;
  margin-left: 10px;
}
.drop-down-menu .card-footer {
  border-bottom: 0;
}

.ddm button {
  margin-top: 50px;
  margin-left: 50px;
}
.ddm .drop-down-menu {
  margin-left: 120px;
  margin-top: 20px;
}

button.md-primary {
  background: #703FCD;
  border: 0.0625rem solid #703FCD;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  padding: 0.625rem 1rem;
}
button.md-secondary {
  background: #fff;
  border: 0.0625rem solid #CFD5DE;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  padding: 0.625rem 1rem;
  font-weight: 600;
}

input[type=checkbox] {
  appearance: none;
}

/***** 01 - tabs component *****/
.tabs {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #EAECF0;
  max-width: 1189px;
}
.tabs .tab {
  margin-right: 16px;
  padding-bottom: 12px;
}
.tabs .tab.active {
  border-bottom: 1px solid #703FCD;
}
.tabs a {
  text-decoration: none;
  color: #647087;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.875rem;
  padding-bottom: 12px;
}
.tabs a.active, .tabs a:hover {
  color: #703FCD;
}

.settings-sidebar {
  display: flex;
  background: #fff;
  border-right: 1px solid #EAECF0;
  flex-direction: column;
  width: 312px;
  float: left;
}
.settings-sidebar .settings-sidebar-header {
  padding: 24px;
}
.settings-sidebar .settings-sidebar-header .logo {
  display: flex;
}
.settings-sidebar .settings-sidebar-header .logo .logo-text {
  margin-left: 10px;
  line-height: 38px;
}
.settings-sidebar .search-form {
  padding: 8px 12px;
}
.settings-sidebar .search-form .input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #EAECF0;
  width: 264px;
  padding: 10px 14px;
  border-radius: 0.5rem;
}
.settings-sidebar .search-form .input-group input[type=search] {
  border-color: transparent;
  text-indent: 15px;
  line-height: 20px;
}
.settings-sidebar .search-form .input-group input[type=search]::-webkit-input-placeholder {
  color: #647087;
}
.settings-sidebar ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 16px;
}
.settings-sidebar ul li {
  display: flex;
  padding: 8px 12px;
}
.settings-sidebar ul.primary {
  margin-top: 32px;
}
.settings-sidebar ul.secondary {
  margin-top: 150px;
}
.settings-sidebar ul a {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 24px;
  text-transform: capitalize;
  margin-left: 10px;
  font-weight: 600;
  color: #314056;
}

.sidebar-footer {
  display: flex;
  width: 312px;
  padding: 24px;
  border-top: 1px solid #EAECF0;
  margin-top: 20px;
}
.sidebar-footer .user-info {
  margin-left: 10px;
}
.sidebar-footer .user-info .username {
  font-size: 14px;
  text-transform: capitalize;
}
.sidebar-footer .user-info .email {
  font-size: 14px;
}
.sidebar-footer .icon {
  margin-left: auto;
  margin-top: 10px;
}

.user-icon {
  background: url("../img/icons/user-icon.png") no-repeat;
  width: 1rem;
  height: 1rem;
}

.settings-icon {
  background: url("../img/icons/settings-icon.png") no-repeat;
  width: 1rem;
  height: 1rem;
}

.lightning-bolt-icon {
  background: url("../img/icons/ligntning-bolt-icon.png") no-repeat;
  width: 1rem;
  height: 1rem;
}

.api-icon {
  background: url("../img/icons/api-icon.png") no-repeat;
  width: 1rem;
  height: 1rem;
}

.email-icon {
  background: url("../img/icons/email-icon.png") no-repeat;
  width: 1rem;
  height: 1rem;
}

.team-icon {
  background: url("../img/icons/team-icon.png") no-repeat;
  width: 1rem;
  height: 1rem;
}

.invite-icon {
  background: url("../img/icons/invite-icon.png") no-repeat;
  width: 1rem;
  height: 1rem;
}

.change-log-icon {
  background: url("../img/icons/change-log-icon.png") no-repeat;
  width: 1rem;
  height: 1rem;
}

.slack-icon {
  background: url("../img/icons/slack-icon.png") no-repeat;
  width: 1rem;
  height: 1rem;
}

.support-icon {
  background: url("../img/icons/support-icon.png") no-repeat;
  width: 1rem;
  height: 1rem;
}

.logout-icon {
  background: url("../img/icons/log-out-icon.png") no-repeat;
  width: 1rem;
  height: 1rem;
}

.search-icon-one {
  background: url("../img/search-lg-icon.png") no-repeat;
  width: 1.25rem;
  height: 1.25rem;
}

.home-light-icon {
  background: url("../img/home-outline-light-icon.png") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.dashboard-light-icon {
  background: url("../img/dashboard-light-icon.png") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.projects-light-icon {
  background: url("../img/projects-light-icon.png") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.tasks-light-icon {
  background: url("../img/tasks-light-icon.png") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.reporting-light-icon {
  background: url("../img/reporting-light-icon.png") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.user-light-icon {
  background: url("../img/user-light-icon.png") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.support-light-icon {
  background: url("../img/support-light-icon.png") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.settings-light-icon {
  background: url("../img/settings-light-icon.png") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}
