.user-icon {
    background: url('../img/icons/user-icon.png') no-repeat;
    @include size(16, 16);
}

.settings-icon {
    background: url('../img/icons/settings-icon.png') no-repeat;
    @include size(16, 16);
}
.lightning-bolt-icon {
    background: url('../img/icons/ligntning-bolt-icon.png') no-repeat;
    @include size(16, 16);
}
.api-icon {
    background: url('../img/icons/api-icon.png') no-repeat;
    @include size(16, 16);
}

.email-icon {
    background: url('../img/icons/email-icon.png') no-repeat;
    @include size(16, 16);
}

.team-icon {
    background: url('../img/icons/team-icon.png') no-repeat;
    @include size(16, 16);
}

.invite-icon {
    background: url('../img/icons/invite-icon.png') no-repeat;
    @include size(16, 16);
}

.change-log-icon {
    background: url('../img/icons/change-log-icon.png') no-repeat;
    @include size(16, 16);
}

.slack-icon {
    background: url('../img/icons/slack-icon.png') no-repeat;
    @include size(16, 16);
}

.support-icon {
    background: url('../img/icons/support-icon.png') no-repeat;
    @include size(16, 16);
}

.logout-icon {
    background: url('../img/icons/log-out-icon.png') no-repeat;
    @include size(16, 16);
}