
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $base-font-family;
    background: $clr-body-bg;
}
.container {
    width: 1600px;
    margin: 0 auto;

    .inner-container {
        width: 1440px;
        margin: 50px auto 0 auto;
    }
}

.row {
    display: flex;
    flex-direction: row;
}