* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $base-font-family;
}
.container {
    width: 1600px;
    margin: 0 auto;

    .inner-container {
        width: 1440px;
        margin: 0 auto;
    }
}