$base-font-family: 'Inter', sans-serif;

$clr-light-bg: #FFFFFF;
$clr-light-text: #ffffff;

$clr-primary-900: #452F82;
$clr-primary-800: #5837A4;
$clr-primary-700: #703FCD;
$clr-primary-600: #8654E1;
$clr-primary-500: #A575F4;
$clr-primary-400: #BD90FD;
$clr-primary-300: #DBBAFF;
$clr-primary-200: #EDD6FF;
$clr-primary-100: #F6EBFF;
$clr-primary-50: #FAF5FF;
$clr-primary-25: #FCFAFF;

$clr-secondary-btn-border: #CFD5DE;
$clr-secondary-btn-text: #314056;

$clr-drop-down-link-text: #314056;

$clr-base-border: #EAECF0;

$mobile-width: 375px;
$tablet-width: 1278px;
$desktop-width: 1440px;