.input-fields-card {
    background: $clr-light-bg;

    padding: 16px;

    
    .input-bg {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        width: 320px;
        height: 40px;
        border: 1px solid $clr-base-border;

        input[type="email"] {
            width: 90%;
            border: 0;
            font-family: inherit;
            text-indent: 15px;
            
            &::-webkit-input-placeholder {
                color: darken($clr-base-border, 20%);
                font-weight: 600;
            }

            &.user-email {
                text-indent: 0;
            }
        }

        .icon {
            margin-left: auto;
            margin-right: 10px;
            margin-top: 12px;

            .email-icon {
                margin-top: -4px;
                margin-left: 10px;
            }

            .master-card-icon {
                margin-top: -4px;
                margin-left: 10px;
            }
        }
    }

    .users {
        @include unstyled-list();
        @include flex();
        padding: 4px 4px;

        .user {
            @include flex();
            border: 1px solid $clr-base-border;
            padding: 8px 12px;
            border-radius: 16px;

            position: relative;
            top: 0;
            line-height: 16px;
            margin-right: 6px;
            font-size: px-to-rem(14);

            .small-close-icon {
                position: absolute;
                top: 6px;
                right: 2px;
            }
            .profile {
                margin-right: 4px;
            }
        }
    }
}

label { 
    display: block; 
    font-size: px-to-rem(14);

    @include font-color($clr-label-text);

    font-weight: 600;
    margin-bottom: 8px;
}