/***** 07 - settings card *****/
.settings-card {
    @include flex();
    flex-direction: row;
    background: #fff;;
    width: 1440px;
    header {
        @include flex();

        .logo {
            @include flex();
            
        }
    }

    .main-content {
        max-width: 1128px;
        background-color: #fff;
        height: 300px;
        float: left;
    }
    
}

